alive_progress==3.2.0
early_stopping_pytorch==1.0.10
foolbox==3.3.4
grad_cam==1.5.5
matplotlib==3.8.4
numpy==2.3.2
opencv_python==4.11.0.86
packaging==25.0
scipy==1.16.1
torch==2.7.0+cu128
torchmetrics==1.7.1
torchvision==0.22.0+cu128
onnxscript==0.4.0.dev20250722